In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('asteroid_data.csv')

In [4]:
df.head()

,name,approach_date,diameter_km,velocity_kmph,distance_km,is_hazardous
0,478784 (2012 UV136),2025-06-02,0.045,49511.25,50442662.03,False
1,(2015 RQ35),2025-06-02,0.082,11950.19,70450034.10,False
2,(2016 EL27),2025-06-02,0.036,25733.18,54278219.47,False
3,(2019 VF1),2025-06-02,0.149,80619.27,23118633.90,False
4,(2020 XS5),2025-06-02,0.027,40999.06,36304847.90,False

Define a label:

If distance < 1 million km and size > 140m â†’ "High Risk"

Else if either condition met â†’ "Medium Risk"

Else â†’ "Low Risk"

ðŸ‘‰ This creates a supervised dataset for ML.